alembic==1.4.1
altair==4.1.0
anyascii==0.3.0
appdirs==1.4.4
argh==0.26.2
arrow==0.13.1
astor==0.8.1
atomicwrites==1.4.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
base58==2.1.1
bkcharts==0.2
black==19.10b0
blinker==1.4
blis==0.7.5
Boruta==0.3
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.4
catalogue==1.0.0
certifi==2021.10.8
click==8.0.3
clyent==1.2.2
colorlover==0.3.0
conda==4.11.0
conda-build==3.21.4
conda-verify==3.4.2
contractions==0.0.58
cufflinks==0.17.3
cymem==2.0.6
cytoolz==0.11.0
daal4py==2021.4.0
databricks-cli==0.16.2
docker==5.0.3
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.1.0
fastcache==1.1.0
fonttools==4.25.0
funcy==1.16
future==0.18.2
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.24
gmpy2==2.0.8
gunicorn==20.1.0
h5py==2.10.0
htmlmin==0.1.12
ImageHash==4.2.1
imbalanced-learn==0.7.0
inflection==0.5.1
kmodes==0.11.1
langdetect==1.0.9
lightgbm==3.3.1
llvmlite==0.37.0
locket==0.2.1
Mako==1.1.6
MarkupSafe==2.0.1
mccabe==0.6.1
missingno==0.5.0
mkl-fft==1.3.0
mkl-service==2.4.0
mlflow==1.22.0
mlxtend==0.19.0
mpmath==1.2.1
multimethod==1.6
multipledispatch==0.6.0
munkres==1.1.4
murmurhash==1.0.6
mypy-extensions==0.4.3
navigator-updater==0.2.1
nltk==3.6.5
pandas==1.2.4
pandas-profiling==3.1.0
pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1
phik==0.12.0
Pillow==8.4.0
pipreqs==0.4.11
pkginfo==1.7.1
plac==1.1.3
ply==3.11
preshed==3.0.6
protobuf==3.19.1
pyahocorasick==1.4.2
pyarrow==6.0.1
pycaret==2.3.5
pycosat==0.6.3
pycurl==7.44.1
pydantic==1.8.2
pydeck==0.7.1
pyLDAvis==3.2.2
pyls-spyder==0.4.0
Pympler==0.9
pynndescent==0.5.5
pyod==0.9.5
pyodbc===4.0.0-unsupported
pytest==6.2.5
python-editor==1.0.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
querystring-parser==1.2.4
scikit-image==0.18.1
scikit-plot==0.3.7
smart-open==5.2.1
smmap==5.0.0
sqlparse==0.4.2
srsly==1.0.5
streamlit==1.2.0
tables==3.6.1
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
TBB==0.2
terminado==0.9.4
textblob==0.17.1
textsearch==0.0.21
thinc==7.4.5
tifffile==2020.10.1
tzdata==2021.5
tzlocal==4.1
umap-learn==0.5.2
unicodecsv==0.14.1
Unidecode==1.3.2
urllib3==1.26.7
validators==0.18.2
visions==0.7.4
wasabi==0.9.0
webencodings==0.5.1
websocket-client==1.2.3
widgetsnbextension==3.5.1
wordcloud==1.8.1
xgboost==1.3.3
xlwings==0.24.9
xlwt==1.3.0
yarg==0.1.9
yellowbrick==1.3.post1
zict==2.0.0
zope.event==4.5.0
